/*     using variables      */
:root {
    --primary-color: #007bff;
    --secondary-color: #343a40;
    --light-color: #f4f4f9;
    --dark-text-color: #666;
    --text-color-light: white;
    --button-hover-color: #0056b3;
}
/*   body style     */

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-color);
}
/*   header style     */

header::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background-color: var(--text-color-light);
}

/*   footer style   */

footer {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 0;
}
/*     card style     */
.card {
    border: 1px solid #ddd;
    background-color: var(--text-color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-text {
    color: var(--dark-text-color);
    line-height: 1.6;
}
/*     back to top btn style    */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
}
